# Dependencies
node_modules/

# Environment
.env
.env.local
.env.*.local
settings.local.json

# Logs
logs/
*.log
npm-debug.log*

# Build output
dist/
build/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# tmp
tmp/
